# Tarefa 1

## demographic-person.csv

* person(_id_, gender, age)

## medications-drug.csv

* medications(_code_, name)

## medications-use.csv

* medications_use(_person_id_, _drug_code_, days_use)
* CHE: person_id de person.id
* CHE: drug_code de medications.code

# Tarefa 2

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS PESSOA;
DROP TABLE IF EXISTS MEDICAMENTO;
DROP TABLE IF EXISTS USO_MEDICAMENTO;

CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../../../data/nhanes/demographic-person.csv');

CREATE TABLE MEDICAMENTO(
    CODIGO VARCHAR(6) NOT NULL,
    NOME VARCHAR(60),
    PRIMARY KEY (CODIGO)
) AS SELECT
    code,
    name
FROM CSVREAD('../../../data/nhanes/medications-drug.csv');

CREATE TABLE USO_MEDICAMENTO(
    ID_PESSOA VARCHAR(5) NOT NULL,
    CODIGO_MEDICAMENTO VARCHAR(6) NOT NULL,
    DIAS_USO INT,
    FOREIGN KEY (ID_PESSOA)
        REFERENCES PESSOA(ID)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION,
    FOREIGN KEY (CODIGO_MEDICAMENTO)
        REFERENCES MEDICAMENTO(CODIGO)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION
) AS SELECT
    person_id,
    drug_code,
    days_use
    FROM CSVREAD('../../../data/nhanes/medications-use.csv');

In [3]:
SELECT * FROM PESSOA
    WHERE AGE > 60

In [20]:
SELECT DISTINCT AGE FROM PESSOA;

In [ ]:
SELECT U.ID_PESSOA, P.AGE, U.CODIGO_MEDICAMENTO, U.DIAS_USO
    FROM USO_MEDICAMENTO U, PESSOA P
    WHERE U.ID_PESSOA = P.ID

In [4]:
SELECT U.ID_PESSOA, P.AGE, M.NOME, U.DIAS_USO
    FROM USO_MEDICAMENTO U, PESSOA P, MEDICAMENTO M
    WHERE U.ID_PESSOA = P.ID AND U.CODIGO_MEDICAMENTO = M.CODIGO

In [5]:
SELECT DISTINCT M.NOME
    FROM MEDICAMENTO M, USO_MEDICAMENTO U
    WHERE M.CODIGO = U.CODIGO_MEDICAMENTO;

In [34]:
SELECT M.NOME, SUM(U.DIAS_USO) DIAS
    FROM MEDICAMENTO M, USO_MEDICAMENTO U
    WHERE M.CODIGO = U.CODIGO_MEDICAMENTO
    GROUP BY U.CODIGO_MEDICAMENTO
    HAVING DIAS > 2000;